@model LicentaApp.Models.Restaurant

<div class="card">
    @Html.Partial("RestaurantPartial", Model) 
</div>


@if (Model.MenuProducts is not null)
{
    <div class="card m-3">
        <h2 class="text-center m-3">Meniu</h2>
        @foreach (var mp in Model.MenuProducts)
            @if (mp.Product is not null)
                @Html.Partial("ProductPartial", mp.Product)
    </div>
}